@model IEnumerable<ASP_2184587.Models.compra>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de compras</h2>

<p>
    @Html.ActionLink("Crear Compra", "Create", "", new { @class = "btn btn-success", @role = "button" })
</p>
<table class="table table-bordered">
    <tr>
        <th class="active">
            Fecha
        </th>
        <th class="active">
            Total compra
        </th>
        <th class="active">
            Nombre usuario
        </th>
        <th class="active">
            Nombre cliente
        </th>
        <th class="active">Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @ASP_2184587.Controllers.CompraController.nombreUsuario(item.id_usuario)
            </td>
            <td>
                @ASP_2184587.Controllers.CompraController.nombreCliente(item.id_cliente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary btn-three", @role = "button" })
                @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-warning btn-three", @role = "button" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.id }, new { @class = "linkDelete btn btn-danger btn-three", @role = "button" })
            </td>
        </tr>
    }

</table>

@section scripts
    {
    <script>
        $(".linkDelete").click(function(event)
        {
            if(!confirm('¿Esta seguro de eliminar?'))
            {
            event.preventDefault();
            }
        })
    </script>
}