<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP 2184587</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/estilos.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            @Html.ActionLink("NIA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand btn-one" })
        </div>
        <div class="container">
            <div class="navbar-collapse ">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                    <li role="presentation">@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li role="presentation">@Html.ActionLink("Iniciar Sesion", "Login", "Usuario", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li role="presentation">@Html.ActionLink("Usuario", "Index", "Usuario", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                        <li role="presentation">@Html.ActionLink("Cliente", "Index", "Cliente", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                        <li role="presentation">@Html.ActionLink("Proveedores", "Index", "Proveedor", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                        <li role="presentation">@Html.ActionLink("Producto", "Index", "Producto", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                        <li role="presentation">@Html.ActionLink("Compra", "Index", "Compra", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                        <li role="presentation">@Html.ActionLink("Producto compra", "Index", "productoCompra", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                        <li role="presentation">@Html.ActionLink("Cerrar sesion", "closeSession", "usuario", new { area = "" }, new { @class = "navbar-brand btn-one" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            @RenderSection("infoFooter", required: false)
            <p>
                Creador por: Juan David Ducuara<br />
            <a href="mailto:jducuara63@gmail.com">Send Mail  </a>|
            <a href="https://github.com/juandaducuara/ASP2184587" target="_blank">Repositorio GitHub</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
