@model ASP_2184587.Models.proveedor

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Direccion:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            Telefono:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
           Nombre de contacto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_contacto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary", @role = "button" }) |
    @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info", @role = "button" })
</p>
