@model IEnumerable<ASP_2184587.Models.proveedor>

@{
    ViewBag.Title = "index";
}

<h2>Lista proveedores</h2>

<p>
    @Html.ActionLink("Crear Proveedor", "Create", "", new { @class = "btn btn-success", @role = "button" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Dirrecion
        </th>
        <th>
            Telefono
        </th>
        <th>
            Nombre contacto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_contacto)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary", @role = "button" })
                @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-warning", @role = "button" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.id }, new { @class = "linkDelete btn btn-danger", @role = "button" })
            </td>
        </tr>
    }

</table>
@section scripts
    {
    <script>
        $(".linkDelete").click(function(event)
        {
            if(!confirm('¿Esta seguro de eliminar?'))
            {
            event.preventDefault();
            }
        })
    </script>
}