@model ASP_2184587.Models.producto_compra

@{
    ViewBag.Title = "Create";
}

<h2>Crear compra</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="id_compra">ID Compra:</label>
            <div class="col-md-10">
                @Html.Action("ListarCompra")
                @Html.ValidationMessageFor(model => model.id_compra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="id_producto">Nombre producto:</label>
            <div class="col-md-10">
                @Html.Action("ListarProducto")
                @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="cantidad">Cantidad:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear compra" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a lista", "Index", "", new { @class = "btn btn-info", @role = "button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
