@model IEnumerable<ASP_2184587.Models.cliente>

@{
    ViewBag.Title = "index";
}

<h2>Lista clientes</h2>

<p>
    @Html.ActionLink("Crear Cliente", "Create", "", new { @class = "btn btn-success", @role = "button" })
</p>
<table class="table table-bordered">
    <tr>
        <th class="active">
            Nombre
        </th>
        <th class="active">
            Documentos
        </th>
        <th class="active">
            Email
        </th>
        <th class="active">Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary", @role = "button" })
                @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-warning", @role = "button" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.id }, new { @class = "linkDelete btn btn-danger", @role = "button" })
            </td>
        </tr>
    }

</table>
@section scripts
    {
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}