@model ASP_2184587.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalles producto</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio unitario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percio_unitario)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Nombre de Proveedor
        </dt>

        <dd>
            @ASP_2184587.Controllers.ProductoController.nombreProveedor(Model.id_proveedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary", @role = "button" }) |
    @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info", @role = "button" })
</p>
